@use '/src/app/variables' as *;

.home_page_wrapper {
  max-width: px2rem(1200);
  margin: 0 auto;
}

.title {
  color: $primary-s;
  font-weight: 400;
  text-transform: uppercase;
  font-size: px2rem(91);
  & span {
    font-weight: 700;
  }
  margin-bottom: $spacing-s;
}

.main_wrapper {
  display: flex;
  gap: $spacing-xs;
  padding: $spacing-l 0 0;
}

.subtitle {
  color: $special-white;
  font-weight: 400;
  font-size: px2rem(27);
  margin-bottom: $spacing-xl;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}