@use '/src/app/variables' as *;

.home_page_wrapper {
  max-width: px2rem(1300);
  margin: 0 auto;
}

.title {
  color: $primary-s;
  font-weight: 400;
  text-transform: uppercase;
  font-size: px2rem(65);
  & span {
    font-weight: 700;
  }
  margin-bottom: $spacing-s;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-s;
  padding: $spacing-l $spacing-s 0;

  @media (max-width: 1300px) {
    & > img:last-of-type {
      width: px2rem(200);
      height: px2rem(400);
    }

    text-align: center;
  }
  
  @media (min-width: 1300px) {
    flex-direction: row;
  }
}

.subtitle {
  color: $special-white;
  font-weight: 400;
  font-size: px2rem(27);
  margin-bottom: $spacing-xl;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}