@use '/src/app/variables' as *;

.alert_wrapper, .alert_wrapper_error {
  padding: $spacing-xs;
  max-width: 75rem;
  margin: $spacing-m auto;
  border-radius: 5px;

  & p {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
}

.alert_wrapper {
  background-color: $primary-m;
  border-left: 5px solid $primary-l;
}

.alert_wrapper_error {
  background-color: $special-red;
  border-left: 5px solid $special-red-l;
}
