@use '/src/app/variables' as *;

.form {
  padding: $spacing-m;
  max-width: px2rem(600);
}

.wrapper {
  margin: $spacing-l auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: $primary-s;
  text-transform: uppercase;
}