:root {
  --primary-xs: #00ff2a;
  --primary-s: #00e827;
  --primary-m: #00ba1f;
  --primary-l: #038218;
  
  --secondary-xs: #6303bd;
  --secondary-s: #4d0194;
  --secondary-m: #3b0072;
  --secondary-l: #240046;
  
  --gray-xs: #969696;
  --gray-s: #686868;
  --gray-m: #444444;
  --gray-l: #292929;
  
  --special-white: #FFF;
  --special-black: #000;
  --special-red: #ff0000;
  --special-red-l: #b10000;
  
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-halfL: 1.5rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 8rem;
  --spacing-doubleL: 6rem;
  
  --fontWeight-s: 300;
  --fontWeight-m: 400;
  --fontWeight-l: 700;
}